{% extends 'customer/base.html' %}

{% block content %}
<head>
    <style>
        .text {
            color: #8b00ff;
            font-weight: bold;
        }
    </style>
</head>

<div class="container mb-5">
     
     <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1 class="text">About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">

            <p class="text">Pizza Pizza is a locally-owned, family operated pizza chain across the great state of Indiana.</p>
            <p class="text">Images are not owned by use. Many aspects of the aplication are inspired by Legion Script's YouTube Django Tutorials.</p>
            <p class="text">The creators: Group 1</p>
            <p class="text">Gema Paz, Lillia Stidam, Parris Oliver</p>

            <p class="text">Hello, this is our first application created with Django and Python. It's an online pizza ordering application</p>
            <p class="text">The images were created on MidJourney in Discord and the application was inspired by the tutorial from Legion Script on YouTube.</p>
            

        </div>
    </div>
</div>
{% endblock content %}
