{% extends 'customer/base.html' %}

{% block content %}
<head>
    <style>
        .text {
            color: #ff9933;
        }
    </style>
</head>

<div class="container mb-5" style="background-image: url('https://cdn.discordapp.com/attachments/1088266744537292843/1102205816393695324/Hema_a_background_for_a_sophisticated_pizza_restaurant_website__1c357a37-db43-407b-bacd-fd3c800a92d8.png'); opacity: 0.4; background-size: cover;">
     
     <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1 class="text">About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">

            <p class="text">Pizza Pizza is a locally-owned, family operated pizza chain across the great state of Indiana.</p>
            <p class="text">Images are not owned by use. Many aspects of the aplication are inspired by Legion Script's YouTube Django Tutorials.</p>
            <p class="text">The creators: Group 1</p>
            <p class="text">Gema Paz, Lillia Stidam, Parris Oliver</p>

            <p class="text">Hello, this is our first application created with Django and Python. It's an online pizza ordering application</p>
            <p class="text">The images were created on MidJourney in Discord and the application was inspired by the tutorial from Legion Script on YouTube.</p>
            <p class="text">The creators: Group 1</p>

        </div>
    </div>
</div>
{% endblock content %}
